# Archivos de compilación de CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cbp

# Ejecutables (para que no subas binarios)
*.exe
*.out
*.app

# Archivos de sistema y editores
.DS_Store
.vscode/
